/*Css reset*/
body{
  font-family: 'Baloo Bhai', cursive;
  margin: 0;
  padding: 0;
}

/*Home*/
.homepage{
  display: flex;
  flex-direction: column;
}

.home{
  width: 100%;
  height: 40vh;
  background: url(bgimages.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*Navbar*/
#navbar{
display: flex;
}

#navbar ul{
  display: flex;
}

#navbar li{
  list-style: none;
}

#navbar li a{
text-decoration: none;
color: white;
font-size: 25px;
padding: 9px 22px;
}

#navbar img{
  height: 60px;
  width: 60px;
  padding: 5px 10px;
}

#navbar li a:hover{
  color: black;
  background-color: white;
  border-radius: 10px;
  text-shadow: 2px 2px 5px gray;
}


/*Services*/

#orders{
  text-align: center;
  font-size: 35px;
}

.services{
  margin: 34px;
  display: flex;
} 

.services .box{
  background-color: #f9e6ff;
  border: 2px solid purple;
  width: 350px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.services img{
  display: block;
  width: 130px;
  height: 120px;
  margin: auto;
  
}
.services-container{

}

/* About us*/
.aboutus > h3{
  margin-top: 100px;
  font-size: 35px;
}

.about{
  font-size: 20px;
  font-weight: bold;
}

.aboutus-container{
  width: 90%;
  margin: auto;
}

/*Contact us*/
.contact > h3{
  font-size: 35px;
  margin-top: 100px;
}

.contact-container .input{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  font-family: 'Baloo Bhai', cursive;
  font-size: 25px;
}

.contact-container textarea{
 display: block;
  width: 500px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  font-family: 'Baloo Bhai', cursive;
  font-size: 25px;
}

/*Footer*/
footer > p{
  font-size: 25px;
  font-family: 'Baloo Bhai', cursive;
  margin-top: 40px;
  text-align: center;
}

/*Utility classes*/
.text-center{
  text-align: center;
}

.h-primary{
  margin-bottom: 5px;
  color: white;
  padding-top: 25px;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
}

.p-primary{
  margin: 2px;
  color: white;
  font-size: 18px;
  text-align: center;
}

.btn{
  text-transform: uppercase;
  width: 120px;
  height: 30px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: 'Baloo Bhai', cursive;
  font-size: 16px;
  margin-top: 2px;
}

.btn:hover{
  cursor: pointer;
  font-size: 18px;
  width: 125px;
  height: 35px;
}





/*------Website on phone-------*/

@media(max-width: 400px){
  #navbar {
    flex-direction: column;
  }
  #navbar img{
    height: 30px;
    width: 30px;
    margin: auto;
  }
  #navbar li a{
    font-size: 12px;
    padding: 4px 17px;
  }
  #navbar ul{
    margin-top: 0px;
    margin-bottom: 35px;
  }
  .home{
    background: url(/images.jpeg);
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .services{
    flex-direction: column;
  }
  .contact-container .input{
  width: 200px;
  height: 20px;
  margin: auto;
  margin-top: 20px;
  font-family: 'Baloo Bhai', cursive;
  font-size: 12px;
}
 .contact-container textarea{
  width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  font-family: 'Baloo Bhai', cursive;
  font-size: 12px;
  }
  .services .box{
  width: 310px;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
}
.h-primary{
  margin-bottom: 2px;
  padding-top: 10px;
  margin-top: 0px;
  font-size: 20px;
}
.p-primary{
  margin: 2px;
  font-size: 11px;
}
.btn{
  width: 70px;
  height: 20px;
  font-size: 9px;
}
.btn:hover{
  width: 80px;
  height: 25px;
  font-size: 11px;
}
footer > p{
  font-size: 10px;
}
}
